.bannerContainer h3 {
  margin-top: 100px;
  background-image: url(img/mac2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 15% 0 25% 3%;
  font-family:'Montserrat', sans-serif;
  font-size: 5vw;
  // height: 980px;
}
.htmlText {
  font-size: 2vw;
}
