@import "normalize";
@import "header";
@import "mainPgCntnt1";
@import "banner";
@import "work";
@import "contact";


.main {
  height: 1800px;
}


//==============================================================================
//=====     COLOR CLASSES
//==============================================================================
.purpleColor {
  color: #b10bc4;
}
.aquaColor {
  color: #0728ff;
}
//==============================================================================
//=====     FONT CLASSES
//==============================================================================
.large {
  font-size: 1.5em;
}
.bold {
  font-weight: bold;
}
.code {
  font-family: 'VT323', monospace;
}
