@import "normalize";
@import "header";
@import "mainPgCntnt1";


.main {
  height: 1800px;
}


//==============================================================================
//=====     COLOR CLASSES
//==============================================================================
.purpleColor {
  color: #b10bc4;
}
.aquaColor {
  color: #0728ff;
}
//==============================================================================
//=====     FONT CLASSES
//==============================================================================
.code {
  font-family: 'VT323', monospace;
}
